*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background-color: #282938;
}

.piano {
	display: flex;
	position: relative;
	padding: 40px;
	padding-bottom: 0;
	background-color: #341304;
	border: 1px solid #160801;
	border-radius: 16px;
	user-select: none;
}

.key {
	width: 75px;
	height: 350px;
	border: 2px outset #dddddd;
	border-radius: 0 0 6px 6px;
	background: white;
	margin-bottom: -8px;
}

.key.black {
	z-index: 1;
	height: 225px;
	margin-left: -24px;
	margin-right: -24px;
	width: 50px;
	border-color: #5f5f5f;
	background-color: #222;
}

.key.white.active {
	background-color: #ddd
}

.key.black.active {
	background-color: #000
}

.key.white + .key.white {
	margin-left: 2px;
}
