.synth {
	position: relative;
	margin-top: -20px;
	padding: 20px 40px 0 40px;
	border: 1px solid #160801;
	border-radius: 1em;
	background:
		linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
		url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/vwood.png);
	box-shadow:
		0 0 50px rgba(0, 0, 0, 0.5) inset,
		0 1px rgba(212, 152, 125, 0.2) inset,
		0 5px 15px rgba(0, 0, 0, 0.5);
	user-select: none;
}

.controls {
	display: flex;
	margin-bottom: 24px;
	align-items: flex-end;
}

.control-item + .control-item {
	margin-left: 48px;
}

.control-info {
	margin: 0;
	margin-bottom: 8px;
}

.flex {
	display: flex;
}

.fw-normal {
	font-weight: normal;
}

.fw-bold {
	font-weight: bold;
}
